
.div {
  background-color: #eee5e0;
  display: flex;
  flex-direction: column;
  padding: 29px 27px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #cbb49e;
  display: flex;
  margin-top: 29px;
  flex-direction: column;
  padding: 50px 30px 50px 70px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-4 {
  margin-top: 36px;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
  }
}
.div-5 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-5 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-6 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 40px;
  color: #000;
  font-weight: 500;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-7 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courier New', Courier, monospace;
  z-index: 10;
  font-size: 25px;
  align-self: center;
  font-weight:bolder;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
  }
}
.div-8 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e5d1bd;
  height: 282px;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-9 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.div-10 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  z-index: 10;
  font-size: 25px;
  font-weight:bolder;
}
@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
  }
}
.div-11 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e5d1bd;
  height: 282px;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-12 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.div-13 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  z-index: 10;
  font-size: 25px;
  font-weight:bolder;
}
@media (max-width: 991px) {
  .div-13 {
    white-space: initial;
  }
}
.div-14 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e5d1bd;
  height: 282px;
}
@media (max-width: 991px) {
  .div-14 {
    max-width: 100%;
  }
}
.div-15 {
  margin: 110px 0 4px;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-16 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-16 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-17 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.div-18 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  z-index: 10;
  font-size: 25px;
  font-weight:bolder;
}
@media (max-width: 991px) {
  .div-18 {
    white-space: initial;
  }
}
.div-19 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e5d1bd;
  height: 287px;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-20 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.div-21 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  z-index: 10;
  font-size: 25px;
  font-weight:bolder;
}
@media (max-width: 991px) {
  .div-21 {
    white-space: initial;
  }
}
.div-22 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e5d1bd;
  height: 287px;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
  }
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-23 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
}
.div-24 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  z-index: 10;
  font-size: 25px;
  font-weight:bolder;
}
@media (max-width: 991px) {
  .div-24 {
    white-space: initial;
  }
}
.div-25 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e5d1bd;
  height: 288px;
}
@media (max-width: 991px) {
  .div-25 {
    max-width: 100%;
  }
}